.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content-wrapper .top-wrapper {
  height: 2.5rem;
  border-bottom: 1px solid var(--color-outline);
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  gap: 2rem;
}
@media (min-width: 768px) {
  .about-container {
    max-height: 100%;
    height: 100%;
    flex-direction: row;
    gap: 0rem;
  }
}
.about-container .nav {
  border-bottom: 1px solid var(--color-outline);
}
@media (min-width: 768px) {
  .about-container .nav {
    border-bottom: none;
  }
}
.about-container .sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  height: 2rem;
}
@media (min-width: 768px) {
  .about-container .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-background-black);
    height: 100%;
    width: 4rem;
    min-width: 4rem;
    border-right: 1px solid var(--color-outline);
  }
}

.nav-container {
  max-width: 100%;
  background-color: #16161e;
}
@media (min-width: 768px) {
  .nav-container {
    border-right: 1px solid var(--color-outline);
    width: 16rem;
    min-width: 16rem;
  }
}

.no-side {
  width: 25rem;
}

.tab-tracker {
  display: flex;
  min-width: 100%;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 768px) {
  .tab-tracker {
    min-width: 0%;
    flex-direction: column;
  }
}
.tab-tracker__data {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .tab-tracker__data {
    flex-direction: row;
  }
}
.tab-tracker__tabs {
  width: 100%;
  display: none;
  min-height: 2rem;
  background-color: var(--color-background-black);
  border-bottom: 1px solid var(--color-outline);
}
@media (min-width: 768px) {
  .tab-tracker__tabs {
    display: block;
  }
}

.content-container {
  min-height: 100%;
  max-width: 100%;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .content-container {
    width: calc(100% - 4rem - 6rem);
    border-right: 1px solid var(--color-outline);
  }
}

.code-container {
  min-height: 100%;
  max-width: 100%;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .code-container {
    width: calc(100% - 4rem - 6rem);
    border-right: 1px solid var(--color-outline);
  }
}

.live-code {
  min-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  display: none;
}
@media (min-width: 768px) {
  .live-code {
    display: block;
    width: calc(100% - 4rem - 6rem);
    border-right: 1px solid var(--color-outline);
  }
}