@import "../../../node_modules/gerillass/scss/gerillass";

.content-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .top-wrapper {
    height: 2.5rem;
    border-bottom: 1px solid var(--color-outline);
  }
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  gap: 2rem;
  background-color: var(--color-background-black);

  @include breakpoint(min, medium) {
    max-height: 100%;
    height: 100%;
    flex-direction: row;
    gap: 0rem;
  }

  .nav {
    border-bottom: 1px solid var(--color-outline);

    @include breakpoint(min, medium) {
      border-bottom: none;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    height: 2rem;

    @include breakpoint(min, medium) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: var(--color-background-black);
      height: 100%;
      width: 4rem;
      min-width: 4rem;
      border-right: 1px solid var(--color-outline);
    }
  }
}

.nav-container {
  max-width: 100%;
  background-color: #16161e;
  @include breakpoint(min, medium) {
    border-right: 1px solid var(--color-outline);
    width: 16rem;
    min-width: 16rem;
  }
}

.no-side {
  width: 25rem;
}

.tab-tracker {
  display: flex;
  min-width: 100%;
  width: 100%;
  flex-direction: column;
  height: 100%;

  @include breakpoint(min, medium) {
    min-width: 0%;
    flex-direction: column;
  }

  &__data {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint(min, medium) {
      flex-direction: row;
    }
  }

  &__tabs {
    width: 100%;
    display: none;
    min-height: 2rem;
    background-color: var(--color-background-black);
    border-bottom: 1px solid var(--color-outline);

    @include breakpoint(min, medium) {
      display: block;
    }
  }
}

.content-container {
  min-height: 100%;
  max-width: 100%;
  overflow-y: auto;

  @include breakpoint(min, medium) {
    width: calc(100% - 4rem - 6rem);
    border-right: 1px solid var(--color-outline);
  }
}

.code-container {
  min-height: 100%;
  max-width: 100%;
  overflow-y: auto;

  @include breakpoint(min, medium) {
    width: calc(100% - 4rem - 6rem);
    border-right: 1px solid var(--color-outline);
  }
}

.live-code {
  min-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  display: none;

  @include breakpoint(min, medium) {
    display: block;
    width: calc(100% - 4rem - 6rem);
    border-right: 1px solid var(--color-outline);
  }
}
