.code-wrapper {
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}
@media (min-width: 768px) {
  .code-wrapper {
    padding-bottom: 6rem;
  }
}

.content-wrapper {
  max-height: 100%;
  overflow-y: auto;
}