.selected {
  color: var(--color-accent-orange);
}

.anav-header {
  display: flex;
  padding: 1rem 0rem;
  width: 100%;
  border-bottom: 1px solid var(--color-outline);
}

.anav-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
