.selected {
  color: var(--color-text-blue);
  background-color: var(--color-background);
}

.anav-header {
  background-color: var(--color-background);
  display: flex;
  height: 2rem;
  width: 100%;
  border-bottom: 1px solid var(--color-outline);
}

.anav-items {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 0.5rem 1rem;
  transition: all 50ms ease;

  &:hover {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  &:last-of-type {
    margin-bottom: 1rem;
  }
}
