.header {
  position: relative;
  max-width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--color-background-darkest);
  border-bottom: 1px solid var(--color-outline);
}
.header__name {
  padding-left: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-white);
  background-color: var(--color-background-darkest);
}
@media (min-width: 768px) {
  .header__name {
    min-width: 20rem;
    border-right: 1px solid var(--color-outline);
  }
}
.header__name img {
  width: 1.5rem;
}
.header__name i {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu button > i {
  font-size: 1.4rem;
  color: var(--color-white);
  padding-right: 0.4rem;
}
.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header__nav__inner {
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .header__nav__inner {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}
.header__nav__outer {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem;
  border-left: 1px solid var(--color-outline);
  height: 100%;
}
.header__nav__outer button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text-muted);
  transition: color 0.5s ease-in-out;
}
.header__nav__outer button i {
  font-size: 1.4rem;
}
.header__nav__outer button :hover {
  color: var(--color-highlight);
}
@media (min-width: 768px) {
  .header__nav__outer {
    display: flex;
  }
}
@media (min-width: 768px) {
  .header__nav {
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-background-darkest);
  }
}

.visible {
  display: flex;
  position: absolute;
  left: 0;
  top: 3.4rem;
  height: calc(100vh - 7.4rem);
  background-color: var(--color-background-darkest);
  z-index: 1;
}

.header-tab {
  color: var(--color-text-muted);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-top: 1px solid var(--color-outline);
  border-bottom: 1px solid var(--color-outline);
  padding: 1rem;
}
@media (min-width: 768px) {
  .header-tab {
    border-top: none;
    border-bottom: none;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-outline);
    border-bottom: 1px solid transparent;
    padding: 1rem;
    cursor: pointer;
    transition: 125ms color ease-in-out;
  }
}
.header-tab:hover {
  color: var(--color-accent-purple);
}

.header-tab__visible {
  color: #fff;
  border-bottom: 1px solid var(--color-accent-orange);
}