@import "../../../node_modules/gerillass/scss/gerillass";

.projects-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoint(min, medium) {
    flex-direction: row;
  }

  user-select: none;

  &__left {
    width: 100vw;
    box-sizing: border-box;
    padding-right: 1rem; // Space for the scrollbar
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 100%));
    grid-auto-rows: minmax(min-content, max-content); // Dynamic row height
    gap: 2.5rem;
    justify-content: center;

    @include breakpoint(min, medium) {
      overflow-y: auto;
      padding: 1rem;
      width: 50%;
      border-right: 1px solid var(--color-outline);
      grid-template-columns: repeat(auto-fit, minmax(12rem, 24rem));
    }
  }

  &__right {
    padding: 1rem;
    white-space: pre-line;

    @include breakpoint(min, medium) {
      width: 50%;
    }

    @include breakpoint(min, medium) {
      display: block;
    }
  }
}

.pre {
  white-space: pre-line;
}

.project {
  user-select: none;
  border: 1px solid var(--color-outline);
  background-color: var(--color-background-black);
  cursor: pointer;
  transition: all 150ms ease;
  height: fit-content;

  &-header {
    max-height: 10rem;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid var(--color-outline);

    img {
      object-fit: cover;
      width: 100%;
      max-height: 10rem;
      user-select: none;
    }
  }

  &-footer {
    overflow: hidden;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text-dark);
    line-height: 1.5rem;
    max-height: 100%;
  }
}

.project-top {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  &-name {
    color: var(--color-text-blue);
    font-weight: 700;
  }

  &__info {
    display: flex;
    gap: 1rem;
  }

  &-slug {
    color: var(--color-text-muted);
  }
}

.project-button-panel {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
