@import "./colors.css";
@import "./typography.css";
@import "./controls.css";
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-darkest);
  font-family: "Source Code Pro", monospace;
  color: var(--color-text-muted);
}

.app-container {
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.application {
  height: 100vh;
  display: none;
}

.app {
  background-color: var(--color-background-darkest);
  min-width: 100%;
  min-height: 100vh;
  border-radius: 6px;
  border: 100px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid magenta;
}