:root {
  --color-accent-orange: #ff8d22;
  --color-accent-purple: #bb9af7;
  --color-accent-red: #ff616e;
  --color-accent-blue: #008cff;
  --color-accent-green: #99d974;
  --color-background: #202130;
  --color-background-light: #393b56;
  --color-background-dark: #1a1b26;
  --color-background-darkest: #1a1b26;
  --color-background-black: #16161e;
  --color-outline: #101014;
  --color-text-muted: #9db4c1;
  --color-text-dark: #607b96;
  --color-text-blue: #008cff;
  --color-text: var(--color-accent-purple);
  --color-highlight: #0b2942;
  --color-white: #fff;
  --color-highlight: var(--color-accent-orange);
}

.orange {
  color: var(--color-accent-orange);
}

.purple {
  color: var(--color-accent-purple);
}

.green {
  color: var(--color-accent-green);
}

.highlight {
  color: var(--color--highlight);
}

.white {
  color: #fff !important;
}

.purple {
  color: var(--color-accent-purple);
}

.blue {
  color: var(--color-text-blue);
}

.background-select {
  background-color: var(--color-background);
}