@import "../../node_modules/gerillass/scss/gerillass";

.applicationlayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;

  @include breakpoint(min, medium) {
    max-height: 100vh;
    height: 100vh;
  }
}

.content {
  height: 100%;
  max-height: calc(100% - 8rem);
}
