.applicationlayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .applicationlayout {
    max-height: 100vh;
    height: 100vh;
  }
}

.content {
  height: 100%;
  max-height: calc(100% - 8rem);
}